Repository tier4/AutowareArchitectureProposal.iv, pull requests merged in 2021-02, with the labels that each got.

#303 Ros2 v0.8.0 turn signal decider
  planning/scenario_planning/lane_driving/behavior_planning/turn_signal_decider/include/turn_signal_decider/turn_signal_decider.hpp
  planning/scenario_planning/lane_driving/behavior_planning/turn_signal_decider/package.xml
  planning/scenario_planning/lane_driving/behavior_planning/turn_signal_decider/src/data_manager.cpp
  planning/scenario_planning/lane_driving/behavior_planning/turn_signal_decider/src/turn_signal_decider_core.cpp
Labels: ros2 v0.8.0

#299 Ros2 v0.8.0 map based prediction
  perception/object_recognition/prediction/map_based_prediction/src/map_based_prediction.cpp
  perception/object_recognition/prediction/map_based_prediction/src/map_based_prediction_ros.cpp
Labels: ros2 v0.8.0

#305 Ros2 v0.8.0 naive path prediction
  perception/object_recognition/prediction/naive_path_prediction/src/node.cpp
Labels: ros2 v0.8.0

#309 update target branch for ci
  .github/workflows/build_and_test.yml
  control/latlon_muxer/src/node.cpp
  perception/object_recognition/prediction/map_based_prediction/src/map_based_prediction_ros.cpp
  planning/scenario_planning/lane_driving/behavior_planning/turn_signal_decider/src/turn_signal_decider_core.cpp
  vehicle/as/include/pacmod_additional_debug_publisher/pacmod_additional_debug_publisher_node.hpp
  vehicle/as/include/pacmod_interface/pacmod_interface.hpp
  vehicle/as/src/pacmod_additional_debug_publisher/pacmod_additional_debug_publisher_main.cpp
  vehicle/as/src/pacmod_additional_debug_publisher/pacmod_additional_debug_publisher_node.cpp
  vehicle/as/src/pacmod_interface/pacmod_interface.cpp
  vehicle/raw_vehicle_cmd_converter/include/raw_vehicle_cmd_converter/accel_map.hpp
  vehicle/raw_vehicle_cmd_converter/include/raw_vehicle_cmd_converter/brake_map.hpp
  vehicle/remote_cmd_converter/src/node.cpp
Labels: ros2 v0.8.0

#291 Ros2 v0.8.0 autoware utils
  common/util/autoware_utils/CMakeLists.txt
  common/util/autoware_utils/include/autoware_utils/autoware_utils.hpp
  common/util/autoware_utils/include/autoware_utils/geometry.hpp
  common/util/autoware_utils/include/autoware_utils/geometry/boost_geometry.hpp
  common/util/autoware_utils/include/autoware_utils/geometry/geometry.hpp
  common/util/autoware_utils/include/autoware_utils/geometry/pose_deviation.hpp
  common/util/autoware_utils/include/autoware_utils/math/constants.hpp
  common/util/autoware_utils/include/autoware_utils/math/normalization.hpp
  common/util/autoware_utils/include/autoware_utils/math/unit_conversion.hpp
  common/util/autoware_utils/include/autoware_utils/ros/debug_publisher.hpp
  common/util/autoware_utils/include/autoware_utils/ros/marker_helper.hpp
  common/util/autoware_utils/include/autoware_utils/ros/processing_time_publisher.hpp
  common/util/autoware_utils/include/autoware_utils/ros/self_pose_listener.hpp
  common/util/autoware_utils/include/autoware_utils/ros/transform_listener.hpp
  common/util/autoware_utils/include/autoware_utils/ros/vehicle_info.hpp
  common/util/autoware_utils/include/autoware_utils/ros/wait_for_param.hpp
  common/util/autoware_utils/include/autoware_utils/system/stop_watch.hpp
  common/util/autoware_utils/package.xml
  common/util/autoware_utils/test/src/geometry/test_boost_geometry.cpp
  common/util/autoware_utils/test/src/geometry/test_geometry.cpp
  common/util/autoware_utils/test/src/geometry/test_pose_deviation.cpp
  common/util/autoware_utils/test/src/math/test_constants.cpp
  common/util/autoware_utils/test/src/math/test_normalization.cpp
  common/util/autoware_utils/test/src/math/test_unit_conversion.cpp
  common/util/autoware_utils/test/src/system/test_stop_watch.cpp
  common/util/autoware_utils/test/src/test_geometry.cpp
Labels: ros2 v0.8.0

#274 Ros2 v0.8.0 awapi and system msgs
  awapi/autoware_api_msgs/CMakeLists.txt
  awapi/autoware_api_msgs/msg/AwapiAutowareStatus.msg
  awapi/autoware_api_msgs/msg/AwapiVehicleStatus.msg
  awapi/autoware_api_msgs/msg/CrosswalkStatus.msg
  awapi/autoware_api_msgs/msg/DoorStatus.msg
  awapi/autoware_api_msgs/msg/IntersectionStatus.msg
  awapi/autoware_api_msgs/msg/Latlon.msg
  awapi/autoware_api_msgs/package.xml
  common/msgs/autoware_system_msgs/CMakeLists.txt
  common/msgs/autoware_system_msgs/msg/AutowareState.msg
  common/msgs/autoware_system_msgs/msg/DrivingCapability.msg
  common/msgs/autoware_system_msgs/msg/HazardStatus.msg
  common/msgs/autoware_system_msgs/msg/HazardStatusStamped.msg
  common/msgs/autoware_system_msgs/package.xml
Labels: ros2 v0.8.0

#283 Ros2 v0.8.0 topic state monitor
  system/topic_state_monitor/CMakeLists.txt
  system/topic_state_monitor/include/topic_state_monitor/topic_state_monitor.hpp
  system/topic_state_monitor/include/topic_state_monitor/topic_state_monitor_core.hpp
  system/topic_state_monitor/launch/topic_state_monitor.launch.xml
  system/topic_state_monitor/package.xml
  system/topic_state_monitor/src/topic_state_monitor/topic_state_monitor.cpp
  system/topic_state_monitor/src/topic_state_monitor_core.cpp
  system/topic_state_monitor/src/topic_state_monitor_node.cpp
Labels: ros2 v0.8.0

#285 Ros2 v0.8.0 velodyne monitor
  system/velodyne_monitor/CMakeLists.txt
  system/velodyne_monitor/config/velodyne_monitor.yaml
  system/velodyne_monitor/include/velodyne_monitor/velodyne_monitor.hpp
  system/velodyne_monitor/launch/velodyne_monitor.launch.xml
  system/velodyne_monitor/package.xml
  system/velodyne_monitor/src/velodyne_monitor.cpp
  system/velodyne_monitor/src/velodyne_monitor_node.cpp
Labels: ros2 v0.8.0

#280 Ros2 v0.8.0 emergency handler
  system/emergency_handler/CMakeLists.txt
  system/emergency_handler/config/emergency_handler.param.yaml
  system/emergency_handler/config/state_timeout_checker.param.yaml
  system/emergency_handler/include/emergency_handler/emergency_handler_core.hpp
  system/emergency_handler/include/emergency_handler/state_timeout_checker_core.hpp
  system/emergency_handler/include/emergency_handler/util/heartbeat_checker.hpp
  system/emergency_handler/launch/emergency_handler.launch.xml
  system/emergency_handler/package.xml
  system/emergency_handler/src/emergency_handler/emergency_handler_core.cpp
  system/emergency_handler/src/emergency_handler/emergency_handler_node.cpp
  system/emergency_handler/src/emergency_handler_core.cpp
  system/emergency_handler/src/state_timeout_checker/state_timeout_checker_core.cpp
  system/emergency_handler/src/state_timeout_checker/state_timeout_checker_node.cpp
Labels: ros2 v0.8.0

#282 Ros2 v0.8.0 awapi awiv adapter
  awapi/awapi_awiv_adapter/CMakeLists.txt
  awapi/awapi_awiv_adapter/Readme.md
  awapi/awapi_awiv_adapter/include/awapi_awiv_adapter/awapi_autoware_state_publisher.hpp
  awapi/awapi_awiv_adapter/include/awapi_awiv_adapter/awapi_autoware_util.hpp
  awapi/awapi_awiv_adapter/include/awapi_awiv_adapter/awapi_awiv_adapter_core.hpp
  awapi/awapi_awiv_adapter/include/awapi_awiv_adapter/awapi_lane_change_state_publisher.hpp
  awapi/awapi_awiv_adapter/include/awapi_awiv_adapter/awapi_max_velocity_publisher.hpp
  awapi/awapi_awiv_adapter/include/awapi_awiv_adapter/awapi_obstacle_avoidance_state_publisher.hpp
  awapi/awapi_awiv_adapter/include/awapi_awiv_adapter/awapi_pacmod_util.hpp
  awapi/awapi_awiv_adapter/include/awapi_awiv_adapter/awapi_stop_reason_aggregator.hpp
  awapi/awapi_awiv_adapter/include/awapi_awiv_adapter/awapi_vehicle_state_publisher.hpp
  awapi/awapi_awiv_adapter/launch/awapi_awiv_adapter.launch.xml
  awapi/awapi_awiv_adapter/package.xml
  awapi/awapi_awiv_adapter/src/awapi_autoware_state_publisher.cpp
  awapi/awapi_awiv_adapter/src/awapi_autoware_util.cpp
  awapi/awapi_awiv_adapter/src/awapi_awiv_adapter_core.cpp
  awapi/awapi_awiv_adapter/src/awapi_awiv_adapter_node.cpp
  awapi/awapi_awiv_adapter/src/awapi_lane_change_state_publisher.cpp
  awapi/awapi_awiv_adapter/src/awapi_max_velocity_publisher.cpp
  awapi/awapi_awiv_adapter/src/awapi_obstacle_avoidance_state_publisher.cpp
  awapi/awapi_awiv_adapter/src/awapi_pacmod_util.cpp
  awapi/awapi_awiv_adapter/src/awapi_stop_reason_aggregator.cpp
  awapi/awapi_awiv_adapter/src/awapi_vehicle_state_publisher.cpp
Labels: ros2 v0.8.0

#277 Ros2 v0.8.0 autoware state monitor
  system/autoware_state_monitor/CMakeLists.txt
  system/autoware_state_monitor/config/autoware_state_monitor.planning_simulation.yaml
  system/autoware_state_monitor/config/autoware_state_monitor.yaml
  system/autoware_state_monitor/include/autoware_state_monitor/autoware_state.hpp
  system/autoware_state_monitor/include/autoware_state_monitor/autoware_state_monitor_node.hpp
  system/autoware_state_monitor/include/autoware_state_monitor/config.hpp
  system/autoware_state_monitor/include/autoware_state_monitor/module_name.hpp
  system/autoware_state_monitor/include/autoware_state_monitor/rosconsole_wrapper.hpp
  system/autoware_state_monitor/include/autoware_state_monitor/state_machine.hpp
  system/autoware_state_monitor/launch/autoware_state_monitor.launch.xml
  system/autoware_state_monitor/package.xml
  system/autoware_state_monitor/src/autoware_state_monitor_node/autoware_state_monitor_node.cpp
  system/autoware_state_monitor/src/autoware_state_monitor_node/diagnostics.cpp
  system/autoware_state_monitor/src/autoware_state_monitor_node/main.cpp
  system/autoware_state_monitor/src/autoware_state_monitor_node/state_machine.cpp
Labels: ros2 v0.8.0

#307 Ros2 v0.8.0 cluster data association
  perception/object_recognition/detection/cluster_data_association/CMakeLists.txt
  perception/object_recognition/detection/cluster_data_association/include/cluster_data_association/data_association.hpp
  perception/object_recognition/detection/cluster_data_association/include/cluster_data_association/node.hpp
  perception/object_recognition/detection/cluster_data_association/include/cluster_data_association/utils/utils.hpp
  perception/object_recognition/detection/cluster_data_association/launch/cluster_data_association.launch.xml
  perception/object_recognition/detection/cluster_data_association/package.xml
  perception/object_recognition/detection/cluster_data_association/src/data_association/data_association.cpp
  perception/object_recognition/detection/cluster_data_association/src/data_association/successive_shortest_path/successive_shortest_path.cpp
  perception/object_recognition/detection/cluster_data_association/src/data_association/successive_shortest_path/successive_shortest_path.hpp
  perception/object_recognition/detection/cluster_data_association/src/main.cpp
  perception/object_recognition/detection/cluster_data_association/src/node.cpp
  perception/object_recognition/detection/cluster_data_association/src/utils/utils.cpp
Labels: ros2 v0.8.0

#306 Ros2 v0.8.0 object range splitter
  perception/object_recognition/detection/object_range_splitter/CMakeLists.txt
  perception/object_recognition/detection/object_range_splitter/include/object_range_splitter/node.hpp
  perception/object_recognition/detection/object_range_splitter/launch/object_range_splitter.launch.xml
  perception/object_recognition/detection/object_range_splitter/package.xml
  perception/object_recognition/detection/object_range_splitter/src/main.cpp
  perception/object_recognition/detection/object_range_splitter/src/node.cpp
Labels: ros2 v0.8.0

#312 Ros2 v0.8.0 initial pose buttion panel
  localization/util/autoware_localization_rviz_plugin/initial_pose_button_panel/CMakeLists.txt
  localization/util/autoware_localization_rviz_plugin/initial_pose_button_panel/package.xml
  localization/util/autoware_localization_rviz_plugin/initial_pose_button_panel/plugins/plugin_description.xml
  localization/util/autoware_localization_rviz_plugin/initial_pose_button_panel/src/initial_pose_button_panel.cpp
  localization/util/autoware_localization_rviz_plugin/initial_pose_button_panel/src/initial_pose_button_panel.hpp
Labels: ros2 v0.8.0

#313 Ros2 v0.8.0 motion velocity optimizer
  planning/scenario_planning/common/motion_velocity_optimizer/README.md
  planning/scenario_planning/common/motion_velocity_optimizer/cfg/MotionVelocityOptimizer.cfg
  planning/scenario_planning/common/motion_velocity_optimizer/config/default_motion_velocity_optimizer.yaml
  planning/scenario_planning/common/motion_velocity_optimizer/include/motion_velocity_optimizer/motion_velocity_optimizer.hpp
  planning/scenario_planning/common/motion_velocity_optimizer/include/motion_velocity_optimizer/motion_velocity_optimizer_utils.hpp
  planning/scenario_planning/common/motion_velocity_optimizer/include/motion_velocity_optimizer/optimizer/l2_pseudo_jerk_optimizer.hpp
  planning/scenario_planning/common/motion_velocity_optimizer/include/motion_velocity_optimizer/optimizer/linf_pseudo_jerk_optimizer.hpp
  planning/scenario_planning/common/motion_velocity_optimizer/include/motion_velocity_optimizer/optimizer/optimizer_base.hpp
  planning/scenario_planning/common/motion_velocity_optimizer/launch/motion_velocity_optimizer.launch.xml
  planning/scenario_planning/common/motion_velocity_optimizer/media/flowchart.png
  planning/scenario_planning/common/motion_velocity_optimizer/media/func1.png
  planning/scenario_planning/common/motion_velocity_optimizer/media/func2.png
  planning/scenario_planning/common/motion_velocity_optimizer/media/trajectory_visualizer.png
  planning/scenario_planning/common/motion_velocity_optimizer/src/motion_velocity_optimizer.cpp
  planning/scenario_planning/common/motion_velocity_optimizer/src/motion_velocity_optimizer_utils.cpp
  planning/scenario_planning/common/motion_velocity_optimizer/src/optimizer/pseudo_jerk_l2_optimizer.cpp
  planning/scenario_planning/common/motion_velocity_optimizer/src/optimizer/pseudo_jerk_linf_optimizer.cpp
Labels: ros2 v0.8.0

#252 [update to v0.8.0] vehicle cmd gate
  control/vehicle_cmd_gate/CMakeLists.txt
  control/vehicle_cmd_gate/config/vehicle_cmd_gate.param.yaml
  control/vehicle_cmd_gate/include/vehicle_cmd_gate/vehicle_cmd_gate.hpp
  control/vehicle_cmd_gate/launch/vehicle_cmd_gate.launch.xml
  control/vehicle_cmd_gate/package.xml
  control/vehicle_cmd_gate/src/vehicle_cmd_gate.cpp
Labels: ros2 v0.8.0

#279 Ros2 v0.8.0 map loader and lanelet2 extension
  map/lanelet2_extension/CMakeLists.txt
  map/lanelet2_extension/README.md
  map/lanelet2_extension/docs/extra_regulatory_elements.md
  map/lanelet2_extension/docs/lanelet2_format_extension.md
  map/lanelet2_extension/include/lanelet2_extension/projection/mgrs_projector.hpp
  map/lanelet2_extension/include/lanelet2_extension/regulatory_elements/autoware_traffic_light.hpp
  map/lanelet2_extension/include/lanelet2_extension/utility/query.hpp
  map/lanelet2_extension/include/lanelet2_extension/utility/utilities.hpp
  map/lanelet2_extension/include/lanelet2_extension/visualization/visualization.hpp
  map/lanelet2_extension/lib/autoware_osm_parser.cpp
  map/lanelet2_extension/lib/autoware_traffic_light.cpp
  map/lanelet2_extension/lib/detection_area.cpp
  map/lanelet2_extension/lib/query.cpp
  map/lanelet2_extension/lib/road_marking.cpp
  map/lanelet2_extension/lib/utilities.cpp
  map/lanelet2_extension/lib/visualization.cpp
  map/lanelet2_extension/package.xml
  map/lanelet2_extension/src/sample_code.cpp
  map/lanelet2_extension/src/validation.cpp
  map/lanelet2_extension/test/src/test_message_conversion.cpp
  map/map_loader/src/lanelet2_map_loader/lanelet2_map_visualization.cpp
Labels: ros2 v0.8.0

#278 Ros2 v0.8.0 mission planner
  planning/mission_planning/mission_planner/CMakeLists.txt
  planning/mission_planning/mission_planner/include/mission_planner/goal_pose_visualizer.hpp
  planning/mission_planning/mission_planner/include/mission_planner/lanelet2_impl/mission_planner_lanelet2.hpp
  planning/mission_planning/mission_planner/include/mission_planner/lanelet2_impl/route_handler.hpp
  planning/mission_planning/mission_planner/include/mission_planner/lanelet2_impl/utility_functions.hpp
  planning/mission_planning/mission_planner/launch/goal_pose_visualizer.launch.xml
  planning/mission_planning/mission_planner/launch/mission_planner.launch.xml
  planning/mission_planning/mission_planner/lib/mission_planner_base.cpp
  planning/mission_planning/mission_planner/src/goal_pose_visualizer/goal_pose_visualizer.cpp
  planning/mission_planning/mission_planner/src/goal_pose_visualizer/main.cpp
  planning/mission_planning/mission_planner/src/mission_planner_lanelet2/mission_planner_lanelet2.cpp
  planning/mission_planning/mission_planner/src/mission_planner_lanelet2/utility_functions.cpp
Labels: ros2 v0.8.0

#287 Ros2 v0.8.0 gnss poser
  sensing/preprocessor/gnss/gnss_poser/README.md
  sensing/preprocessor/gnss/gnss_poser/include/gnss_poser/gnss_poser_core.hpp
  sensing/preprocessor/gnss/gnss_poser/src/gnss_poser_core.cpp
Labels: ros2 v0.8.0

#301 Ros2 v0.8.0 tensorrt yolo
  perception/object_recognition/detection/tensorrt_yolo/.gitignore
  perception/object_recognition/detection/tensorrt_yolo/CMakeLists.txt
  perception/object_recognition/detection/tensorrt_yolo/README.md
  perception/object_recognition/detection/tensorrt_yolo/config/yolov3_param.yaml
  perception/object_recognition/detection/tensorrt_yolo/config/yolov4_param.yaml
  perception/object_recognition/detection/tensorrt_yolo/config/yolov5l_param.yaml
  perception/object_recognition/detection/tensorrt_yolo/config/yolov5m_param.yaml
  perception/object_recognition/detection/tensorrt_yolo/config/yolov5s_param.yaml
  perception/object_recognition/detection/tensorrt_yolo/config/yolov5x_param.yaml
  perception/object_recognition/detection/tensorrt_yolo/include/tensorrt_yolo/nodelet.hpp
  perception/object_recognition/detection/tensorrt_yolo/launch/tensorrt_yolo.launch.xml
  perception/object_recognition/detection/tensorrt_yolo/launch/yolo.launch.xml
  perception/object_recognition/detection/tensorrt_yolo/lib/include/calibrator.hpp
  perception/object_recognition/detection/tensorrt_yolo/lib/include/cuda_utils.hpp
  perception/object_recognition/detection/tensorrt_yolo/lib/include/mish.hpp
  perception/object_recognition/detection/tensorrt_yolo/lib/include/mish_plugin.hpp
  perception/object_recognition/detection/tensorrt_yolo/lib/include/nms.hpp
  perception/object_recognition/detection/tensorrt_yolo/lib/include/nms_plugin.hpp
  perception/object_recognition/detection/tensorrt_yolo/lib/include/trt_yolo.hpp
  perception/object_recognition/detection/tensorrt_yolo/lib/include/yolo_layer.hpp
  perception/object_recognition/detection/tensorrt_yolo/lib/include/yolo_layer_plugin.hpp
  perception/object_recognition/detection/tensorrt_yolo/lib/src/plugins/mish.cu
  perception/object_recognition/detection/tensorrt_yolo/lib/src/plugins/mish_plugin.cpp
  perception/object_recognition/detection/tensorrt_yolo/lib/src/plugins/nms.cu
  perception/object_recognition/detection/tensorrt_yolo/lib/src/plugins/nms_plugin.cpp
  perception/object_recognition/detection/tensorrt_yolo/lib/src/plugins/yolo_layer.cu
  perception/object_recognition/detection/tensorrt_yolo/lib/src/plugins/yolo_layer_plugin.cpp
  perception/object_recognition/detection/tensorrt_yolo/lib/src/trt_yolo.cpp
  perception/object_recognition/detection/tensorrt_yolo/package.xml
  perception/object_recognition/detection/tensorrt_yolo/src/nodelet.cpp
Labels: ros2 v0.8.0

#298 Ros2 v0.8.0 surround obstacle checker
  planning/scenario_planning/lane_driving/motion_planning/surround_obstacle_checker/src/node.cpp
Labels: ros2 v0.8.0

#286 Ros2 v0.8.0 dummy perception publisher
  simulator/util/dummy_perception_publisher/launch/dummy_perception_publisher.launch.xml
  simulator/util/dummy_perception_publisher/src/node.cpp
Labels: ros2 v0.8.0

#294 Ros2 v0.8.0 scenario selector
  planning/scenario_planning/scenario_selector/README.md
  planning/scenario_planning/scenario_selector/include/scenario_selector/scenario_selector_node.hpp
  planning/scenario_planning/scenario_selector/package.xml
  planning/scenario_planning/scenario_selector/src/scenario_selector_node/main.cpp
  planning/scenario_planning/scenario_selector/src/scenario_selector_node/scenario_selector_node.cpp
Labels: ros2 v0.8.0

#314 Ros2 v0.8.0 localization monitor
  localization/localization_diagnostics/localization_error_monitor/CMakeLists.txt
  localization/localization_diagnostics/localization_error_monitor/README.md
  localization/localization_diagnostics/localization_error_monitor/include/localization_error_monitor/node.hpp
  localization/localization_diagnostics/localization_error_monitor/launch/localization_error_monitor.launch.xml
  localization/localization_diagnostics/localization_error_monitor/package.xml
  localization/localization_diagnostics/localization_error_monitor/src/main.cpp
  localization/localization_diagnostics/localization_error_monitor/src/node.cpp
Labels: ros2 v0.8.0

#310 Ros2 v0.8.0 euclidean cluster
  perception/object_recognition/detection/euclidean_cluster/CMakeLists.txt
  perception/object_recognition/detection/euclidean_cluster/include/euclidean_cluster/euclidean_cluster_nodelet.hpp
  perception/object_recognition/detection/euclidean_cluster/include/euclidean_cluster/voxel_grid_based_euclidean_cluster_nodelet.hpp
  perception/object_recognition/detection/euclidean_cluster/launch/euclidean_cluster.launch.py
  perception/object_recognition/detection/euclidean_cluster/launch/euclidean_cluster.launch.xml
  perception/object_recognition/detection/euclidean_cluster/launch/voxel_grid_based_euclidean_cluster.launch.py
  perception/object_recognition/detection/euclidean_cluster/launch/voxel_grid_based_euclidean_cluster.launch.xml
  perception/object_recognition/detection/euclidean_cluster/package.xml
  perception/object_recognition/detection/euclidean_cluster/src/euclidean_cluster_nodelet.cpp
  perception/object_recognition/detection/euclidean_cluster/src/voxel_grid_based_euclidean_cluster_nodelet.cpp
Labels: ros2 v0.8.0

#251 [update to v0.8.0] autoware joy controller
  control/autoware_joy_controller/config/autoware_joy_controller.yaml
  control/autoware_joy_controller/include/autoware_joy_controller/autoware_joy_controller.hpp
  control/autoware_joy_controller/include/autoware_joy_controller/joy_converter/ds4_joy_converter.hpp
  control/autoware_joy_controller/include/autoware_joy_controller/joy_converter/g29_joy_converter.hpp
  control/autoware_joy_controller/include/autoware_joy_controller/joy_converter/joy_converter_base.hpp
  control/autoware_joy_controller/launch/autoware_joy_controller.launch.xml
  control/autoware_joy_controller/package.xml
  control/autoware_joy_controller/src/autoware_joy_controller/autoware_joy_controller_node.cpp
Labels: ros2 v0.8.0

#311 Feature/goal distance calculator
  common/util/goal_distance_calculator/CMakeLists.txt
  common/util/goal_distance_calculator/config/goal_distance_calculator.yaml
  common/util/goal_distance_calculator/include/goal_distance_calculator/goal_distance_calculator.hpp
  common/util/goal_distance_calculator/include/goal_distance_calculator/goal_distance_calculator_node.hpp
  common/util/goal_distance_calculator/launch/goal_distance_calculator.launch.xml
  common/util/goal_distance_calculator/package.xml
  common/util/goal_distance_calculator/src/goal_distance_calculator.cpp
  common/util/goal_distance_calculator/src/goal_distance_calculator_node.cpp
  common/util/goal_distance_calculator/src/main.cpp
Labels: ros2 v0.8.0

#302 Ros2 v0.8.0 object merger
  perception/object_recognition/detection/object_merger/CMakeLists.txt
  perception/object_recognition/detection/object_merger/include/object_association_merger/data_association.hpp
  perception/object_recognition/detection/object_merger/include/object_association_merger/node.hpp
  perception/object_recognition/detection/object_merger/include/object_association_merger/successive_shortest_path.hpp
  perception/object_recognition/detection/object_merger/include/object_association_merger/utils/utils.hpp
  perception/object_recognition/detection/object_merger/launch/object_association_merger.launch.xml
  perception/object_recognition/detection/object_merger/package.xml
  perception/object_recognition/detection/object_merger/src/object_association_merger/data_association/data_association.cpp
  perception/object_recognition/detection/object_merger/src/object_association_merger/data_association/successive_shortest_path/successive_shortest_path.cpp
  perception/object_recognition/detection/object_merger/src/object_association_merger/main.cpp
  perception/object_recognition/detection/object_merger/src/object_association_merger/node.cpp
  perception/object_recognition/detection/object_merger/src/object_association_merger/utils/utils.cpp
Labels: ros2 v0.8.0

#308 Obstacle avoidance planner 0.8
  planning/scenario_planning/lane_driving/motion_planning/obstacle_avoidance_planner/config/default_obstacle_avoidance_planner.yaml
  planning/scenario_planning/lane_driving/motion_planning/obstacle_avoidance_planner/include/obstacle_avoidance_planner/debug.hpp
  planning/scenario_planning/lane_driving/motion_planning/obstacle_avoidance_planner/include/obstacle_avoidance_planner/eb_path_optimizer.hpp
  planning/scenario_planning/lane_driving/motion_planning/obstacle_avoidance_planner/include/obstacle_avoidance_planner/mpt_optimizer.hpp
  planning/scenario_planning/lane_driving/motion_planning/obstacle_avoidance_planner/include/obstacle_avoidance_planner/node.hpp
  planning/scenario_planning/lane_driving/motion_planning/obstacle_avoidance_planner/include/obstacle_avoidance_planner/process_cv.hpp
  planning/scenario_planning/lane_driving/motion_planning/obstacle_avoidance_planner/include/obstacle_avoidance_planner/util.hpp
  planning/scenario_planning/lane_driving/motion_planning/obstacle_avoidance_planner/launch/obstacle_avoidance_planner.launch.xml
  planning/scenario_planning/lane_driving/motion_planning/obstacle_avoidance_planner/package.xml
  planning/scenario_planning/lane_driving/motion_planning/obstacle_avoidance_planner/scripts/trajectory_visualizer.py
  planning/scenario_planning/lane_driving/motion_planning/obstacle_avoidance_planner/src/debug.cpp
  planning/scenario_planning/lane_driving/motion_planning/obstacle_avoidance_planner/src/eb_path_optimizer.cpp
  planning/scenario_planning/lane_driving/motion_planning/obstacle_avoidance_planner/src/mpt_optimizer.cpp
  planning/scenario_planning/lane_driving/motion_planning/obstacle_avoidance_planner/src/node.cpp
  planning/scenario_planning/lane_driving/motion_planning/obstacle_avoidance_planner/src/process_cv.cpp
  planning/scenario_planning/lane_driving/motion_planning/obstacle_avoidance_planner/src/util.cpp
  planning/scenario_planning/lane_driving/motion_planning/obstacle_avoidance_planner/src/vehicle_model/vehicle_model_bicycle_kinematics_no_delay.cpp
Labels: ros2 v0.8.0

#326 [autoware_utils]: fix traits
  common/util/autoware_utils/include/autoware_utils/ros/debug_publisher.hpp
Labels: ros2 v0.8.0

#300 Ros2 v0.8.0 obstacle stop planner
  planning/scenario_planning/lane_driving/motion_planning/obstacle_stop_planner/config/adaptive_cruise_control.yaml
  planning/scenario_planning/lane_driving/motion_planning/obstacle_stop_planner/config/obstacle_stop_planner.yaml
  planning/scenario_planning/lane_driving/motion_planning/obstacle_stop_planner/config/rqt_multiplot_adaptive_cruise.xml
  planning/scenario_planning/lane_driving/motion_planning/obstacle_stop_planner/include/obstacle_stop_planner/adaptive_cruise_control.hpp
  planning/scenario_planning/lane_driving/motion_planning/obstacle_stop_planner/include/obstacle_stop_planner/debug_marker.hpp
  planning/scenario_planning/lane_driving/motion_planning/obstacle_stop_planner/include/obstacle_stop_planner/node.hpp
  planning/scenario_planning/lane_driving/motion_planning/obstacle_stop_planner/launch/obstacle_stop_planner.launch.xml
  planning/scenario_planning/lane_driving/motion_planning/obstacle_stop_planner/package.xml
  planning/scenario_planning/lane_driving/motion_planning/obstacle_stop_planner/src/adaptive_cruise_control.cpp
  planning/scenario_planning/lane_driving/motion_planning/obstacle_stop_planner/src/debug_marker.cpp
  planning/scenario_planning/lane_driving/motion_planning/obstacle_stop_planner/src/node.cpp
Labels: ros2 v0.8.0

#316 Ros2 v0.8.0 obstacle collision checker
  control/trajectory_follower/obstacle_collision_checker/CMakeLists.txt
  control/trajectory_follower/obstacle_collision_checker/README.md
  control/trajectory_follower/obstacle_collision_checker/config/obstacle_collision_checker.yaml
  control/trajectory_follower/obstacle_collision_checker/include/obstacle_collision_checker/obstacle_collision_checker.hpp
  control/trajectory_follower/obstacle_collision_checker/include/obstacle_collision_checker/obstacle_collision_checker_node.hpp
  control/trajectory_follower/obstacle_collision_checker/include/obstacle_collision_checker/util/create_vehicle_footprint.hpp
  control/trajectory_follower/obstacle_collision_checker/launch/obstacle_collision_checker.launch.xml
  control/trajectory_follower/obstacle_collision_checker/package.xml
  control/trajectory_follower/obstacle_collision_checker/src/obstacle_collision_checker_node/main.cpp
  control/trajectory_follower/obstacle_collision_checker/src/obstacle_collision_checker_node/obstacle_collision_checker.cpp
  control/trajectory_follower/obstacle_collision_checker/src/obstacle_collision_checker_node/obstacle_collision_checker_node.cpp
Labels: ros2 v0.8.0

#315 Ros2 v0.8.0 trajectory loader
  tmp/trajectory_loader/CMakeLists.txt
  tmp/trajectory_loader/data/sample.csv
  tmp/trajectory_loader/include/trajectory_loader/node.hpp
  tmp/trajectory_loader/launch/sample.launch.xml
  tmp/trajectory_loader/package.xml
  tmp/trajectory_loader/src/main.cpp
  tmp/trajectory_loader/src/node.cpp
Labels: ros2 v0.8.0

#325 Ros2 v0.8.0 pure pursuit
  control/pure_pursuit/include/pure_pursuit/pure_pursuit.hpp
  control/pure_pursuit/include/pure_pursuit/pure_pursuit_node.hpp
  control/pure_pursuit/include/pure_pursuit/pure_pursuit_viz.hpp
  control/pure_pursuit/include/pure_pursuit/util/interpolate.hpp
  control/pure_pursuit/include/pure_pursuit/util/marker_helper.hpp
  control/pure_pursuit/include/pure_pursuit/util/planning_utils.hpp
  control/pure_pursuit/include/pure_pursuit/util/tf_utils.hpp
  control/pure_pursuit/launch/pure_pursuit.launch.xml
  control/pure_pursuit/package.xml
  control/pure_pursuit/src/pure_pursuit/main.cpp
  control/pure_pursuit/src/pure_pursuit/pure_pursuit_node.cpp
  control/pure_pursuit/src/pure_pursuit/pure_pursuit_viz.cpp
  control/pure_pursuit/src/pure_pursuit_core/interpolate.cpp
  control/pure_pursuit/src/pure_pursuit_core/planning_utils.cpp
  control/pure_pursuit/src/pure_pursuit_core/pure_pursuit.cpp
Labels: ros2 v0.8.0

#333 Ros2 v0.8.0 autoware vehicle rviz plugin
  common/util/rviz_plugins/autoware_vehicle_rviz_plugin/CMakeLists.txt
  common/util/rviz_plugins/autoware_vehicle_rviz_plugin/images/handle.png
  common/util/rviz_plugins/autoware_vehicle_rviz_plugin/package.xml
  common/util/rviz_plugins/autoware_vehicle_rviz_plugin/src/tools/console_meter.cpp
  common/util/rviz_plugins/autoware_vehicle_rviz_plugin/src/tools/console_meter.hpp
  common/util/rviz_plugins/autoware_vehicle_rviz_plugin/src/tools/jsk_overlay_utils.cpp
  common/util/rviz_plugins/autoware_vehicle_rviz_plugin/src/tools/jsk_overlay_utils.hpp
  common/util/rviz_plugins/autoware_vehicle_rviz_plugin/src/tools/steering_angle.cpp
  common/util/rviz_plugins/autoware_vehicle_rviz_plugin/src/tools/steering_angle.hpp
  common/util/rviz_plugins/autoware_vehicle_rviz_plugin/src/tools/turn_signal.cpp
  common/util/rviz_plugins/autoware_vehicle_rviz_plugin/src/tools/turn_signal.hpp
  common/util/rviz_plugins/autoware_vehicle_rviz_plugin/src/tools/velocity_history.cpp
  common/util/rviz_plugins/autoware_vehicle_rviz_plugin/src/tools/velocity_history.hpp
Labels: ros2 v0.8.0

#334 Ros2 v0.8.0 autoware perception rviz plugin
  common/util/rviz_plugins/autoware_perception_rviz_plugin/package.xml
  common/util/rviz_plugins/autoware_perception_rviz_plugin/src/tools/car_pose.cpp
  common/util/rviz_plugins/autoware_perception_rviz_plugin/src/tools/car_pose.hpp
  common/util/rviz_plugins/autoware_perception_rviz_plugin/src/tools/delete_all_objects.cpp
  common/util/rviz_plugins/autoware_perception_rviz_plugin/src/tools/delete_all_objects.hpp
  common/util/rviz_plugins/autoware_perception_rviz_plugin/src/tools/pedestrian_pose.cpp
  common/util/rviz_plugins/autoware_perception_rviz_plugin/src/tools/pedestrian_pose.hpp
Labels: ros2 v0.8.0

#336 Ros2 v0.8.0 autoware planning rviz plugin
  common/util/rviz_plugins/autoware_planning_rviz_plugin/CMakeLists.txt
  common/util/rviz_plugins/autoware_planning_rviz_plugin/Readme.md
  common/util/rviz_plugins/autoware_planning_rviz_plugin/icons/classes/MaxVelocity.png
  common/util/rviz_plugins/autoware_planning_rviz_plugin/include/mission_checkpoint/mission_checkpoint.hpp
  common/util/rviz_plugins/autoware_planning_rviz_plugin/include/path/display.hpp
  common/util/rviz_plugins/autoware_planning_rviz_plugin/include/trajectory/display.hpp
  common/util/rviz_plugins/autoware_planning_rviz_plugin/package.xml
  common/util/rviz_plugins/autoware_planning_rviz_plugin/plugins/plugin_description.xml
  common/util/rviz_plugins/autoware_planning_rviz_plugin/src/mission_checkpoint/mission_checkpoint.cpp
  common/util/rviz_plugins/autoware_planning_rviz_plugin/src/path/display.cpp
  common/util/rviz_plugins/autoware_planning_rviz_plugin/src/tools/jsk_overlay_utils.cpp
  common/util/rviz_plugins/autoware_planning_rviz_plugin/src/tools/jsk_overlay_utils.hpp
  common/util/rviz_plugins/autoware_planning_rviz_plugin/src/tools/max_velocity.cpp
  common/util/rviz_plugins/autoware_planning_rviz_plugin/src/tools/max_velocity.hpp
  common/util/rviz_plugins/autoware_planning_rviz_plugin/src/trajectory/display.cpp
Labels: ros2 v0.8.0

#338 Ros2 v0.8.0 trajectory test publisher
  tmp/trajectory_test_publisher/CMakeLists.txt
  tmp/trajectory_test_publisher/include/trajectory_test_publisher/node.hpp
  tmp/trajectory_test_publisher/package.xml
  tmp/trajectory_test_publisher/src/main.cpp
  tmp/trajectory_test_publisher/src/node.cpp
Labels: ros2 v0.8.0

#340 [mpc follower]: fix timesource
  control/mpc_follower/include/mpc_follower/mpc_follower_core.hpp
Labels: ros2 v0.8.0

#332 Ros2 v0.8.0 behavior velocity planner
  common/util/autoware_utils/include/autoware_utils/ros/marker_helper.hpp
  planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/CMakeLists.txt
  planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/config/blind_spot_param.yaml
  planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/config/crosswalk_param.yaml
  planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/config/detection_area_param.yaml
  planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/config/intersection_param.yaml
  planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/config/traffic_light_param.yaml
  planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/include/behavior_velocity_planner/node.hpp
  planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/include/behavior_velocity_planner/planner_data.hpp
  planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/include/behavior_velocity_planner/planner_manager.hpp
  planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/include/scene_module/blind_spot/manager.hpp
  planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/include/scene_module/blind_spot/scene.hpp
  planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/include/scene_module/crosswalk/manager.hpp
  planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/include/scene_module/crosswalk/scene_crosswalk.hpp
  planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/include/scene_module/crosswalk/scene_walkway.hpp
  planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/include/scene_module/crosswalk/util.hpp
  planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/include/scene_module/detection_area/manager.hpp
  planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/include/scene_module/detection_area/scene.hpp
  planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/include/scene_module/intersection/manager.hpp
  planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/include/scene_module/intersection/scene_intersection.hpp
  planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/include/scene_module/intersection/scene_merge_from_private_road.hpp
  planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/include/scene_module/intersection/util.hpp
  planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/include/scene_module/scene_module_interface.hpp
  planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/include/scene_module/stop_line/manager.hpp
  planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/include/scene_module/stop_line/scene.hpp
  planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/include/scene_module/traffic_light/manager.hpp
  planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/include/scene_module/traffic_light/scene.hpp
  planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/include/utilization/boost_geometry_helper.hpp
  planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/include/utilization/interpolate.hpp
  planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/include/utilization/interpolation/cubic_spline.hpp
  planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/include/utilization/marker_helper.hpp
  planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/include/utilization/path_utilization.hpp
  planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/include/utilization/util.hpp
  planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/launch/behavior_velocity_planner.launch.xml
  planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/package.xml
  planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/src/main.cpp
  planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/src/node.cpp
  planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/src/scene_module/blind_spot/debug.cpp
  planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/src/scene_module/blind_spot/manager.cpp
  planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/src/scene_module/blind_spot/scene.cpp
  planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/src/scene_module/crosswalk/debug.cpp
  planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/src/scene_module/crosswalk/manager.cpp
  planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/src/scene_module/crosswalk/scene_crosswalk.cpp
  planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/src/scene_module/crosswalk/scene_walkway.cpp
  planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/src/scene_module/crosswalk/util.cpp
  planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/src/scene_module/detection_area/debug.cpp
  planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/src/scene_module/detection_area/manager.cpp
  planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/src/scene_module/detection_area/scene.cpp
  planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/src/scene_module/intersection/manager.cpp
  planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/src/scene_module/intersection/scene_intersection.cpp
  planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/src/scene_module/intersection/scene_merge_from_private_road.cpp
  planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/src/scene_module/intersection/util.cpp
  planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/src/scene_module/stop_line/debug.cpp
  planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/src/scene_module/stop_line/manager.cpp
  planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/src/scene_module/stop_line/scene.cpp
  planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/src/scene_module/traffic_light/manager.cpp
  planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/src/scene_module/traffic_light/scene.cpp
  planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/src/utilization/path_utilization.cpp
  planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/src/utilization/util.cpp
Labels: ros2 v0.8.0

#342 Ros2 v0.8.0 engage
  awapi/awapi_awiv_adapter/Readme.md
  awapi/awapi_awiv_adapter/launch/awapi_awiv_adapter.launch.xml
  common/msgs/autoware_control_msgs/CMakeLists.txt
  common/msgs/autoware_control_msgs/msg/EngageMode.msg
  common/msgs/autoware_vehicle_msgs/CMakeLists.txt
  common/msgs/autoware_vehicle_msgs/msg/Engage.msg
  common/util/web_controller/autoware_web_controller/www/autoware_web_controller/js/autoware_engage.js
  control/vehicle_cmd_gate/include/vehicle_cmd_gate/vehicle_cmd_gate.hpp
  control/vehicle_cmd_gate/src/vehicle_cmd_gate.cpp
  simulator/simple_planning_simulator/CMakeLists.txt
  simulator/simple_planning_simulator/include/simple_planning_simulator/simple_planning_simulator_core.hpp
  simulator/simple_planning_simulator/package.xml
  simulator/simple_planning_simulator/src/simple_planning_simulator_core.cpp
  system/autoware_state_monitor/include/autoware_state_monitor/autoware_state_monitor_node.hpp
  system/autoware_state_monitor/include/autoware_state_monitor/state_machine.hpp
  system/autoware_state_monitor/src/autoware_state_monitor_node/autoware_state_monitor_node.cpp
  system/autoware_state_monitor/src/autoware_state_monitor_node/state_machine.cpp
  vehicle/as/include/pacmod_interface/pacmod_interface.hpp
  vehicle/as/include/ssc_interface/ssc_interface.hpp
  vehicle/as/src/pacmod_interface/pacmod_interface.cpp
  vehicle/as/src/ssc_interface/ssc_interface.cpp
Labels: ros2 v0.8.0

#339 Ros2 v0.8.0 traffic light visualization
  perception/util/visualizer/traffic_light_visualization/CMakeLists.txt
  perception/util/visualizer/traffic_light_visualization/include/traffic_light_roi_visualizer/nodelet.hpp
  perception/util/visualizer/traffic_light_visualization/launch/traffic_light_roi_visualizer.launch.xml
  perception/util/visualizer/traffic_light_visualization/package.xml
  perception/util/visualizer/traffic_light_visualization/src/nodelet.cpp
Labels: ros2 v0.8.0

#343 [velocity controller]: Fix parameter
  control/velocity_controller/config/velocity_controller_param.yaml
  control/velocity_controller/src/velocity_controller_core.cpp
Labels: bug, ros2 v0.8.0

#335 ros2 v0.8.0 roi_image_saver
  perception/util/saver/roi_image_saver/CMakeLists.txt
  perception/util/saver/roi_image_saver/COLCON_IGNORE
  perception/util/saver/roi_image_saver/include/roi_image_saver/node.hpp
  perception/util/saver/roi_image_saver/package.xml
  perception/util/saver/roi_image_saver/src/main.cpp
  perception/util/saver/roi_image_saver/src/node.cpp
Labels: ros2 v0.8.0

#322 Ros2 v0.8.0 lane_change_planner
  common/msgs/autoware_planning_msgs/CMakeLists.txt
  common/msgs/autoware_planning_msgs/msg/LaneChangeCommand.msg
  common/msgs/autoware_planning_msgs/msg/LaneChangeStatus.msg
  planning/scenario_planning/lane_driving/behavior_planning/lane_change_planner/CMakeLists.txt
  planning/scenario_planning/lane_driving/behavior_planning/lane_change_planner/include/lane_change_planner/data_manager.hpp
  planning/scenario_planning/lane_driving/behavior_planning/lane_change_planner/include/lane_change_planner/lane_changer.hpp
  planning/scenario_planning/lane_driving/behavior_planning/lane_change_planner/include/lane_change_planner/parameters.hpp
  planning/scenario_planning/lane_driving/behavior_planning/lane_change_planner/include/lane_change_planner/route_handler.hpp
  planning/scenario_planning/lane_driving/behavior_planning/lane_change_planner/include/lane_change_planner/state/aborting_lane_change.hpp
  planning/scenario_planning/lane_driving/behavior_planning/lane_change_planner/include/lane_change_planner/state/blocked_by_obstacle.hpp
  planning/scenario_planning/lane_driving/behavior_planning/lane_change_planner/include/lane_change_planner/state/common_functions.hpp
  planning/scenario_planning/lane_driving/behavior_planning/lane_change_planner/include/lane_change_planner/state/executing_lane_change.hpp
  planning/scenario_planning/lane_driving/behavior_planning/lane_change_planner/include/lane_change_planner/state/following_lane.hpp
  planning/scenario_planning/lane_driving/behavior_planning/lane_change_planner/include/lane_change_planner/state/forcing_lane_change.hpp
  planning/scenario_planning/lane_driving/behavior_planning/lane_change_planner/include/lane_change_planner/state/state_base_class.hpp
  planning/scenario_planning/lane_driving/behavior_planning/lane_change_planner/include/lane_change_planner/state/stopping_lane_change.hpp
  planning/scenario_planning/lane_driving/behavior_planning/lane_change_planner/include/lane_change_planner/state_machine.hpp
  planning/scenario_planning/lane_driving/behavior_planning/lane_change_planner/include/lane_change_planner/utilities.hpp
  planning/scenario_planning/lane_driving/behavior_planning/lane_change_planner/package.xml
  planning/scenario_planning/lane_driving/behavior_planning/lane_change_planner/src/data_manager.cpp
  planning/scenario_planning/lane_driving/behavior_planning/lane_change_planner/src/lane_change_planner_node.cpp
  planning/scenario_planning/lane_driving/behavior_planning/lane_change_planner/src/lane_changer.cpp
  planning/scenario_planning/lane_driving/behavior_planning/lane_change_planner/src/route_handler.cpp
  planning/scenario_planning/lane_driving/behavior_planning/lane_change_planner/src/state/aborting_lane_change.cpp
  planning/scenario_planning/lane_driving/behavior_planning/lane_change_planner/src/state/blocked_by_obstacle.cpp
  planning/scenario_planning/lane_driving/behavior_planning/lane_change_planner/src/state/common_functions.cpp
  planning/scenario_planning/lane_driving/behavior_planning/lane_change_planner/src/state/executing_lane_change.cpp
  planning/scenario_planning/lane_driving/behavior_planning/lane_change_planner/src/state/following_lane.cpp
  planning/scenario_planning/lane_driving/behavior_planning/lane_change_planner/src/state/forcing_lane_change.cpp
  planning/scenario_planning/lane_driving/behavior_planning/lane_change_planner/src/state/state_base_class.cpp
  planning/scenario_planning/lane_driving/behavior_planning/lane_change_planner/src/state/stopping_lane_change.cpp
  planning/scenario_planning/lane_driving/behavior_planning/lane_change_planner/src/state_machine.cpp
  planning/scenario_planning/lane_driving/behavior_planning/lane_change_planner/src/utilities.cpp
Labels: ros2 v0.8.0

#337 Ros2 v0.8 path_test_publisher
  planning/path_test_publisher/CMakeLists.txt
  planning/path_test_publisher/include/path_test_publisher/node.hpp
  planning/path_test_publisher/package.xml
  planning/path_test_publisher/src/main.cpp
  planning/path_test_publisher/src/node.cpp
Labels: ros2 v0.8.0

#321 Ros2 v0.8.0 roi cluster fusion
  perception/object_recognition/detection/roi_cluster_fusion/CMakeLists.txt
  perception/object_recognition/detection/roi_cluster_fusion/include/roi_cluster_fusion/roi_cluster_fusion_nodelet.hpp
  perception/object_recognition/detection/roi_cluster_fusion/launch/roi_cluster_fusion.launch.xml
  perception/object_recognition/detection/roi_cluster_fusion/package.xml
  perception/object_recognition/detection/roi_cluster_fusion/src/roi_cluster_fusion_nodelet.cpp
Labels: ros2 v0.8.0

#341 Ros2 v0.8.0 gnss poser rm std msgs
  sensing/preprocessor/gnss/gnss_poser/include/gnss_poser/gnss_poser_core.hpp
  sensing/preprocessor/gnss/gnss_poser/package.xml
  sensing/preprocessor/gnss/gnss_poser/src/gnss_poser_core.cpp
Labels: ros2 v0.8.0

#357 Fix dependency of system_monitor
  system/system_monitor/package.xml
Labels: ros2 v0.8.0

#356 fix implement miss in autoware_state_monitor
  system/autoware_state_monitor/src/autoware_state_monitor_node/state_machine.cpp
Labels: ros2 v0.8.0

#354 Ros2 v0.8.0 fix packages2
  system/autoware_error_monitor/config/diagnostic_aggregator/sensing.param.yaml
  system/autoware_state_monitor/config/autoware_state_monitor.param.yaml
  system/autoware_state_monitor/config/autoware_state_monitor.planning_simulation.param.yaml
  system/autoware_state_monitor/include/autoware_state_monitor/autoware_state_monitor_node.hpp
  system/autoware_state_monitor/include/autoware_state_monitor/config.hpp
  system/autoware_state_monitor/src/autoware_state_monitor_node/autoware_state_monitor_node.cpp
  system/emergency_handler/launch/emergency_handler.launch.xml
  system/emergency_handler/src/emergency_handler/emergency_handler_core.cpp
  system/emergency_handler/src/state_timeout_checker/state_timeout_checker_core.cpp
  vehicle/remote_cmd_converter/launch/remote_cmd_converter.launch.xml
Labels: ros2 v0.8.0

#330 Ros2 v0.8.0 autoware debug tools
  common/util/autoware_debug_tools/CMakeLists.txt
  common/util/autoware_debug_tools/README.md
  common/util/autoware_debug_tools/package.xml
  common/util/autoware_debug_tools/scripts/case_converter.py
  common/util/autoware_debug_tools/scripts/pose2tf.py
  common/util/autoware_debug_tools/scripts/self_pose_listener.py
  common/util/autoware_debug_tools/scripts/stop_reason2pose.py
  common/util/autoware_debug_tools/scripts/stop_reason2tf
  common/util/autoware_debug_tools/scripts/tf2pose.py
Labels: ros2 v0.8.0

#346 [roi_cluster_fusion]: Avoid redeclaring parameter for compressed imag…
  perception/object_recognition/detection/roi_cluster_fusion/src/roi_cluster_fusion_nodelet.cpp
Labels: ros2 v0.8.0

#366 Update v0.9.0 as
  vehicle/as/include/pacmod_additional_debug_publisher/pacmod_additional_debug_publisher_node.hpp
  vehicle/as/launch/pacmod_additional_debug_publisher.launch.xml
  vehicle/as/src/pacmod_additional_debug_publisher/pacmod_additional_debug_publisher_node.cpp
Labels: ros2 v0.9.0

#372 enable ci for ros-v0.9.0-beta branch
  .github/workflows/build_and_test.yml
Labels: ros2 v0.9.0

#373 remove unused assignment
  planning/scenario_planning/lane_driving/behavior_planning/turn_signal_decider/src/turn_signal_decider_core.cpp
Labels: ros2 v0.9.0

#371 [ray_ground_filter] fix height threshold bug
  sensing/preprocessor/pointcloud/pointcloud_preprocessor/src/ground_filter/ray_ground_filter_nodelet.cpp
Labels: ros2 v0.9.0

#374 fix bug in shape estimation node
  perception/object_recognition/detection/shape_estimation/src/model/normal/cylinder.cpp
Labels: ros2 v0.9.0

#365 [Update v0.9.0] system monitor
  system/autoware_error_monitor/config/autoware_error_monitor.param.yaml
  system/autoware_error_monitor/config/autoware_error_monitor.planning_simulation.param.yaml
  system/system_monitor/config/system_monitor.param.yaml
  system/system_monitor/include/system_monitor/cpu_monitor/cpu_monitor_base.hpp
  system/system_monitor/src/cpu_monitor/cpu_monitor_base.cpp
  system/system_monitor/src/cpu_monitor/intel_cpu_monitor.cpp
  system/system_monitor/src/net_monitor/net_monitor.cpp
  system/system_monitor/test/src/cpu_monitor/test_intel_cpu_monitor.cpp
Labels: ros2 v0.9.0

#376 fix insert slow down point bug
  planning/scenario_planning/lane_driving/motion_planning/obstacle_stop_planner/package.xml
  planning/scenario_planning/lane_driving/motion_planning/obstacle_stop_planner/src/node.cpp
Labels: ros2 v0.9.0

#370 Add node_name_suffix to topic_state_monitor.launch
  system/topic_state_monitor/launch/topic_state_monitor.launch.xml
Labels: ros2 v0.9.0

#375 Use thread for ntpdate. (#1160)
  system/system_monitor/include/system_monitor/ntp_monitor/ntp_monitor.hpp
  system/system_monitor/src/ntp_monitor/ntp_monitor.cpp
Labels: ros2 v0.9.0

#379 remove using in global namespace
  control/autoware_joy_controller/CMakeLists.txt
  control/autoware_joy_controller/include/autoware_joy_controller/autoware_joy_controller.hpp
  control/autoware_joy_controller/include/autoware_joy_controller/joy_converter/ds4_joy_converter.hpp
  control/autoware_joy_controller/include/autoware_joy_controller/joy_converter/g29_joy_converter.hpp
  control/autoware_joy_controller/include/autoware_joy_controller/joy_converter/joy_converter_base.hpp
  control/autoware_joy_controller/package.xml
  control/autoware_joy_controller/src/autoware_joy_controller/autoware_joy_controller_node.cpp
  control/autoware_joy_controller/src/autoware_joy_controller/main.cpp
Labels: ros2 v0.9.0

#385 Add parameter args to autoware_state_monitor.launch
  system/autoware_state_monitor/launch/autoware_state_monitor.launch.xml
Labels: ros2 v0.9.0
