Repository tier4/AutowareArchitectureProposal.iv, pull requests merged in 2021-03, with the labels that each got.

#387 Ros2 v0.9.0 pose history
  common/util/rviz_plugins/autoware_localization_rviz_plugin/CMakeLists.txt
  common/util/rviz_plugins/autoware_localization_rviz_plugin/icons/classes/PoseHistory.png
  common/util/rviz_plugins/autoware_localization_rviz_plugin/package.xml
  common/util/rviz_plugins/autoware_localization_rviz_plugin/plugins/plugin_description.xml
  common/util/rviz_plugins/autoware_localization_rviz_plugin/src/pose_history/pose_history_display.cpp
  common/util/rviz_plugins/autoware_localization_rviz_plugin/src/pose_history/pose_history_display.hpp
  common/util/rviz_plugins/pose_history/CMakeLists.txt
  common/util/rviz_plugins/pose_history/COLCON_IGNORE
  common/util/rviz_plugins/pose_history/package.xml
  common/util/rviz_plugins/pose_history/plugins/plugin_description.xml
  common/util/rviz_plugins/pose_history/src/pose_history_display.cpp
  common/util/rviz_plugins/pose_history/src/pose_history_display.hpp
Labels: ros2 v0.9.0

#386 Fix/lane departure checker
  common/util/autoware_utils/include/autoware_utils/ros/processing_time_publisher.hpp
  common/util/autoware_utils/include/autoware_utils/system/stop_watch.hpp
  control/trajectory_follower/lane_departure_checker/src/lane_departure_checker_node/lane_departure_checker_node.cpp
Labels: ros2 v0.9.0

#368 Add livox_tag_filter
  sensing/preprocessor/pointcloud/livox/livox_tag_filter/CMakeLists.txt
  sensing/preprocessor/pointcloud/livox/livox_tag_filter/include/livox_tag_filter/livox_tag_filter_node.hpp
  sensing/preprocessor/pointcloud/livox/livox_tag_filter/launch/livox_tag_filter.launch.xml
  sensing/preprocessor/pointcloud/livox/livox_tag_filter/package.xml
  sensing/preprocessor/pointcloud/livox/livox_tag_filter/src/livox_tag_filter_node/livox_tag_filter_node.cpp
Labels: ros2 v0.9.0

#350 Awapi update v0.9.0
  awapi/autoware_api_msgs/msg/AwapiAutowareStatus.msg
  awapi/awapi_awiv_adapter/Readme.md
  awapi/awapi_awiv_adapter/include/awapi_awiv_adapter/awapi_autoware_state_publisher.hpp
  awapi/awapi_awiv_adapter/include/awapi_awiv_adapter/awapi_autoware_util.hpp
  awapi/awapi_awiv_adapter/include/awapi_awiv_adapter/awapi_awiv_adapter_core.hpp
  awapi/awapi_awiv_adapter/launch/awapi_awiv_adapter.launch.xml
  awapi/awapi_awiv_adapter/src/awapi_autoware_state_publisher.cpp
  awapi/awapi_awiv_adapter/src/awapi_awiv_adapter_core.cpp
Labels: ros2 v0.9.0

#363 add timeout notification stamp msgs
  common/msgs/autoware_system_msgs/CMakeLists.txt
  common/msgs/autoware_system_msgs/msg/TimeoutNotification.msg
  system/emergency_handler/include/emergency_handler/emergency_handler_core.hpp
  system/emergency_handler/include/emergency_handler/state_timeout_checker_core.hpp
  system/emergency_handler/src/emergency_handler/emergency_handler_core.cpp
  system/emergency_handler/src/state_timeout_checker/state_timeout_checker_core.cpp
Labels: ros2 v0.8.0

#383 Fix bug of closet_velocity_checker.py
  planning/scenario_planning/common/motion_velocity_optimizer/scripts/closest_velocity_checker.py
Labels: ros2 v0.9.0

#380 visualize covariance and reduce cylinder polygon
  perception/util/visualizer/dynamic_object_visualization/CMakeLists.txt
  perception/util/visualizer/dynamic_object_visualization/include/dynamic_object_visualization/dynamic_object_visualizer.hpp
  perception/util/visualizer/dynamic_object_visualization/package.xml
  perception/util/visualizer/dynamic_object_visualization/src/dynamic_object_visualizer.cpp
  perception/util/visualizer/dynamic_object_visualization/src/main.cpp
Labels: ros2 v0.9.0

#391 [awapi_awiv_adapter] fix bug in the launch file
  awapi/awapi_awiv_adapter/launch/awapi_awiv_adapter.launch.xml
Labels: bug, ros2 v0.9.0

#377 Add tier4_pcl_extensions (#1162)
  sensing/preprocessor/pointcloud/tier4_pcl_extensions/CMakeLists.txt
  sensing/preprocessor/pointcloud/tier4_pcl_extensions/README.md
  sensing/preprocessor/pointcloud/tier4_pcl_extensions/include/tier4_pcl_extensions/voxel_grid_nearest_centroid.hpp
  sensing/preprocessor/pointcloud/tier4_pcl_extensions/include/tier4_pcl_extensions/voxel_grid_nearest_centroid_impl.hpp
  sensing/preprocessor/pointcloud/tier4_pcl_extensions/package.xml
  sensing/preprocessor/pointcloud/tier4_pcl_extensions/src/voxel_grid_nearest_centroid.cpp
Labels: ros2 v0.9.0

#392 Ros2 v0.9.0 fix walkway
  planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/src/scene_module/crosswalk/scene_walkway.cpp
Labels: bug, ros2 v0.9.0

#382 modify pose_initialize for foa
  awapi/awapi_awiv_adapter/launch/awapi_awiv_adapter.launch.xml
  common/msgs/autoware_localization_msgs/CMakeLists.txt
  common/msgs/autoware_localization_msgs/msg/PoseInitializationRequest.msg
  common/msgs/autoware_localization_msgs/package.xml
  localization/util/pose_initializer/CMakeLists.txt
  localization/util/pose_initializer/include/pose_initializer/pose_initializer_core.hpp
  localization/util/pose_initializer/launch/pose_initializer.launch.xml
  localization/util/pose_initializer/package.xml
  localization/util/pose_initializer/src/pose_initializer_core.cpp
Labels: ros2 v0.9.0

#389 Fix autoware web controller
  common/util/web_controller/autoware_web_controller/www/autoware_web_controller/js/autoware_engage.js
  common/util/web_controller/autoware_web_controller/www/autoware_web_controller/js/lane_change_approval.js
  common/util/web_controller/autoware_web_controller/www/autoware_web_controller/js/vehicle_engage.js
  common/util/web_controller/autoware_web_controller/www/autoware_web_controller/js/velocity_limit.js
Labels: bug, ros2 v0.9.0

#378 Add approximate voxel grid filter
  sensing/preprocessor/pointcloud/pointcloud_preprocessor/CMakeLists.txt
  sensing/preprocessor/pointcloud/pointcloud_preprocessor/include/pointcloud_preprocessor/downsample_filter/approximate_downsample_filter_nodelet.hpp
  sensing/preprocessor/pointcloud/pointcloud_preprocessor/package.xml
  sensing/preprocessor/pointcloud/pointcloud_preprocessor/src/downsample_filter/approximate_downsample_filter_nodelet.cpp
Labels: ros2 v0.9.0

#384 Feature/Add route cancel service
  system/autoware_state_monitor/include/autoware_state_monitor/autoware_state_monitor_node.hpp
  system/autoware_state_monitor/include/autoware_state_monitor/state_machine.hpp
  system/autoware_state_monitor/launch/autoware_state_monitor.launch.xml
  system/autoware_state_monitor/src/autoware_state_monitor_node/autoware_state_monitor_node.cpp
  system/autoware_state_monitor/src/autoware_state_monitor_node/main.cpp
  system/autoware_state_monitor/src/autoware_state_monitor_node/state_machine.cpp
Labels: ros2 v0.9.0

#398 [map_loader] modify colors for lane markers for better visualization
  map/map_loader/src/lanelet2_map_loader/lanelet2_map_visualization.cpp
Labels: ros2

#394 Add autoware version node
  common/msgs/autoware_system_msgs/CMakeLists.txt
  common/msgs/autoware_system_msgs/msg/AutowareVersion.msg
  system/autoware_version/CMakeLists.txt
  system/autoware_version/package.xml
  system/autoware_version/src/autoware_version.cpp
Labels: ros2

#396 Fix concatenate data
  sensing/preprocessor/pointcloud/pointcloud_preprocessor/include/pointcloud_preprocessor/concatenate_data/concatenate_data_nodelet.hpp
  sensing/preprocessor/pointcloud/pointcloud_preprocessor/package.xml
  sensing/preprocessor/pointcloud/pointcloud_preprocessor/src/concatenate_data/concatenate_data_nodelet.cpp
Labels: ros2

#397 fix max velocity visualization
  common/util/rviz_plugins/autoware_planning_rviz_plugin/src/tools/max_velocity.cpp
  planning/scenario_planning/common/motion_velocity_optimizer/src/motion_velocity_optimizer.cpp
Labels: ros2

#405 Fix error handling of tf lookupTransform
  planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/src/node.cpp
Labels: bug, ros2

#402 rm_std_msgs
  control/mpc_follower/include/mpc_follower/mpc_follower_core.hpp
  control/mpc_follower/include/mpc_follower/mpc_utils.hpp
  localization/twist_estimator/gyro_odometer/include/gyro_odometer/gyro_odometer_core.hpp
  localization/twist_estimator/gyro_odometer/src/gyro_odometer_core.cpp
  planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/include/scene_module/blind_spot/scene.hpp
  planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/include/scene_module/intersection/util.hpp
Labels: ros2

#401 Ros2 fix motion velocity pyscripts
  planning/scenario_planning/common/motion_velocity_optimizer/scripts/closest_velocity_checker.py
  planning/scenario_planning/common/motion_velocity_optimizer/scripts/trajectory_visualizer.py
Labels: ros2

#411 fix launch file of topic_state_montior
  system/topic_state_monitor/launch/topic_state_monitor.launch.xml
Labels: ros2

#410 add transient local option to topic state monitor
  system/topic_state_monitor/include/topic_state_monitor/topic_state_monitor.hpp
  system/topic_state_monitor/launch/topic_state_monitor.launch.xml
  system/topic_state_monitor/src/topic_state_monitor_core.cpp
Labels: ros2

#412 fix param name
  system/emergency_handler/src/state_timeout_checker/state_timeout_checker_core.cpp
Labels: ros2

#414 fix namespace of parameter in autoware_joy_controller
  control/autoware_joy_controller/src/autoware_joy_controller/autoware_joy_controller_node.cpp
Labels: ros2

#407 Sensor data qos
  localization/pose_estimator/ndt_scan_matcher/ndt_scan_matcher/src/ndt_scan_matcher_core.cpp
  planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/src/node.cpp
  planning/scenario_planning/lane_driving/motion_planning/obstacle_stop_planner/src/node.cpp
  planning/scenario_planning/lane_driving/motion_planning/surround_obstacle_checker/src/node.cpp
  planning/scenario_planning/parking/costmap_generator/nodes/costmap_generator/costmap_generator_node.cpp
  sensing/preprocessor/pointcloud/livox/livox_tag_filter/src/livox_tag_filter_node/livox_tag_filter_node.cpp
  sensing/preprocessor/pointcloud/pointcloud_preprocessor/src/concatenate_data/concatenate_data_nodelet.cpp
  sensing/preprocessor/pointcloud/pointcloud_preprocessor/src/filter.cpp
  sensing/preprocessor/pointcloud/pointcloud_preprocessor/src/vector_map_filter/lanelet2_map_filter_nodelet.cpp
  system/autoware_state_monitor/config/autoware_state_monitor.param.yaml
  system/autoware_state_monitor/include/autoware_state_monitor/autoware_state_monitor_node.hpp
  system/autoware_state_monitor/include/autoware_state_monitor/config.hpp
  system/autoware_state_monitor/src/autoware_state_monitor_node/autoware_state_monitor_node.cpp
Labels: ros2

#408 Ros2 fix topic name part1
  common/util/autoware_utils/include/autoware_utils/ros/processing_time_publisher.hpp
  control/mpc_follower/launch/mpc_follower.launch.xml
  control/mpc_follower/src/mpc_follower_core.cpp
  control/trajectory_follower/lane_departure_checker/launch/lane_departure_checker.launch.xml
  control/trajectory_follower/lane_departure_checker/src/lane_departure_checker_node/lane_departure_checker_node.cpp
  control/velocity_controller/launch/velocity_controller.launch.xml
  control/velocity_controller/src/velocity_controller_core.cpp
  planning/scenario_planning/common/motion_velocity_optimizer/launch/motion_velocity_optimizer.launch.xml
  planning/scenario_planning/common/motion_velocity_optimizer/src/motion_velocity_optimizer.cpp
  planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/include/scene_module/scene_module_interface.hpp
  planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/launch/behavior_velocity_planner.launch.xml
  planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/src/node.cpp
  planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/src/scene_module/traffic_light/manager.cpp
  planning/scenario_planning/lane_driving/behavior_planning/lane_change_planner/src/lane_changer.cpp
  planning/scenario_planning/lane_driving/motion_planning/obstacle_avoidance_planner/include/obstacle_avoidance_planner/util.hpp
  planning/scenario_planning/lane_driving/motion_planning/obstacle_avoidance_planner/launch/obstacle_avoidance_planner.launch.xml
  planning/scenario_planning/lane_driving/motion_planning/obstacle_avoidance_planner/src/node.cpp
  planning/scenario_planning/lane_driving/motion_planning/obstacle_avoidance_planner/src/util.cpp
  planning/scenario_planning/lane_driving/motion_planning/obstacle_stop_planner/launch/obstacle_stop_planner.launch.xml
  planning/scenario_planning/lane_driving/motion_planning/obstacle_stop_planner/src/adaptive_cruise_control.cpp
  planning/scenario_planning/lane_driving/motion_planning/obstacle_stop_planner/src/debug_marker.cpp
  planning/scenario_planning/lane_driving/motion_planning/obstacle_stop_planner/src/node.cpp
  planning/scenario_planning/lane_driving/motion_planning/surround_obstacle_checker/launch/surround_obstacle_checker.launch.xml
  planning/scenario_planning/lane_driving/motion_planning/surround_obstacle_checker/src/debug_marker.cpp
  planning/scenario_planning/lane_driving/motion_planning/surround_obstacle_checker/src/node.cpp
  planning/scenario_planning/parking/costmap_generator/launch/costmap_generator.launch.xml
  planning/scenario_planning/parking/costmap_generator/nodes/costmap_generator/costmap_generator_node.cpp
  planning/scenario_planning/parking/freespace_planner/launch/freespace_planner.launch.xml
  planning/scenario_planning/parking/freespace_planner/src/freespace_planner/freespace_planner_node.cpp
  system/emergency_handler/launch/emergency_handler.launch.xml
  system/emergency_handler/src/emergency_handler/emergency_handler_core.cpp
  system/emergency_handler/src/state_timeout_checker/state_timeout_checker_core.cpp
Labels: ros2

#418 Revert "Modify autoware_version not to use transient_local (workaroun…
  system/autoware_version/src/autoware_version.cpp
Labels: ros2

#431 Import v0.9.1
  awapi/awapi_awiv_adapter/include/awapi_awiv_adapter/awapi_autoware_state_publisher.hpp
  awapi/awapi_awiv_adapter/include/awapi_awiv_adapter/diagnostics_filter.hpp
  awapi/awapi_awiv_adapter/src/awapi_autoware_state_publisher.cpp
  control/mpc_follower/include/mpc_follower/mpc_trajectory.hpp
  control/mpc_follower/include/mpc_follower/mpc_utils.hpp
  control/mpc_follower/src/mpc_follower_core.cpp
  control/mpc_follower/src/mpc_trajectory.cpp
  control/mpc_follower/src/mpc_utils.cpp
  localization/pose_estimator/ndt_scan_matcher/ndt_scan_matcher/include/ndt_scan_matcher/ndt_scan_matcher_core.hpp
  localization/pose_estimator/ndt_scan_matcher/ndt_scan_matcher/src/ndt_scan_matcher_core.cpp
  sensing/preprocessor/pointcloud/pointcloud_preprocessor/src/ground_filter/ransac_ground_filter_nodelet.cpp
  system/autoware_error_monitor/config/autoware_error_monitor.param.yaml
  system/autoware_error_monitor/config/autoware_error_monitor.planning_simulation.param.yaml
  system/autoware_error_monitor/config/diagnostic_aggregator/vehicle.param.yaml
  system/system_monitor/config/system_monitor.param.yaml
  system/system_monitor/include/system_monitor/hdd_monitor/hdd_monitor.hpp
  system/system_monitor/reader/hdd_reader/hdd_reader.cpp
  system/system_monitor/src/hdd_monitor/hdd_monitor.cpp
  system/system_monitor/src/mem_monitor/mem_monitor.cpp
  system/system_monitor/test/config/test_hdd_monitor.param.yaml
  system/system_monitor/test/src/hdd_monitor/test_hdd_monitor.cpp
Labels: ros2

#434 Fix typo in system module
  system/autoware_error_monitor/config/diagnostic_aggregator/sensing.param.yaml
  system/autoware_state_monitor/config/autoware_state_monitor.param.yaml
  system/system_monitor/include/system_monitor/utils.hpp
  system/system_monitor/src/net_monitor/net_monitor.cpp
Labels: ros2

#441 avoid pushing empty marker
  map/lanelet2_extension/lib/visualization.cpp
Labels: ros2

#432 Fix typo in planning module
  planning/scenario_planning/common/motion_velocity_optimizer/README.md
  planning/scenario_planning/common/motion_velocity_optimizer/include/motion_velocity_optimizer/motion_velocity_optimizer_utils.hpp
  planning/scenario_planning/common/motion_velocity_optimizer/scripts/trajectory_visualizer.py
  planning/scenario_planning/common/motion_velocity_optimizer/src/motion_velocity_optimizer.cpp
  planning/scenario_planning/common/motion_velocity_optimizer/src/motion_velocity_optimizer_utils.cpp
  planning/scenario_planning/common/motion_velocity_optimizer/src/optimizer/pseudo_jerk_l2_optimizer.cpp
  planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/include/scene_module/intersection/scene_intersection.hpp
  planning/scenario_planning/lane_driving/motion_planning/obstacle_avoidance_planner/config/obstacle_avoidance_planner.param.yaml
  planning/scenario_planning/lane_driving/motion_planning/obstacle_avoidance_planner/include/obstacle_avoidance_planner/eb_path_optimizer.hpp
  planning/scenario_planning/lane_driving/motion_planning/obstacle_avoidance_planner/include/obstacle_avoidance_planner/util.hpp
  planning/scenario_planning/lane_driving/motion_planning/obstacle_avoidance_planner/include/obstacle_avoidance_planner/vehicle_model/vehicle_model_bicycle_kinematics.hpp
  planning/scenario_planning/lane_driving/motion_planning/obstacle_avoidance_planner/scripts/trajectory_visualizer.py
  planning/scenario_planning/lane_driving/motion_planning/obstacle_avoidance_planner/src/eb_path_optimizer.cpp
  planning/scenario_planning/lane_driving/motion_planning/obstacle_avoidance_planner/src/mpt_optimizer.cpp
  planning/scenario_planning/lane_driving/motion_planning/obstacle_avoidance_planner/src/node.cpp
  planning/scenario_planning/lane_driving/motion_planning/obstacle_avoidance_planner/src/process_cv.cpp
  planning/scenario_planning/lane_driving/motion_planning/obstacle_avoidance_planner/src/util.cpp
  planning/scenario_planning/lane_driving/motion_planning/obstacle_avoidance_planner/src/vehicle_model/vehicle_model_bicycle_kinematics.cpp
  planning/scenario_planning/lane_driving/motion_planning/obstacle_avoidance_planner/src/vehicle_model/vehicle_model_bicycle_kinematics_no_delay.cpp
Labels: ros2

#428 Fix typo in control module
  control/mpc_follower/README.md
  control/mpc_follower/cfg/MPCFollower.cfg
  control/mpc_follower/config/mpc_follower.param.yaml
  control/mpc_follower/include/mpc_follower/mpc_follower_core.hpp
  control/mpc_follower/src/mpc_follower_core.cpp
  control/trajectory_follower/lane_departure_checker/include/lane_departure_checker/lane_departure_checker_node.hpp
  control/trajectory_follower/lane_departure_checker/src/lane_departure_checker_node/lane_departure_checker_node.cpp
Labels: ros2

#448 Ros2 fix service name
  control/vehicle_cmd_gate/launch/vehicle_cmd_gate.launch.xml
  control/vehicle_cmd_gate/src/vehicle_cmd_gate.cpp
Labels: ros2

#442 Ros2 fix ndt align srv
  localization/pose_estimator/ndt_scan_matcher/ndt_scan_matcher/src/ndt_scan_matcher_core.cpp
  localization/util/autoware_localization_srvs/srv/PoseWithCovarianceStamped.srv
  localization/util/pose_initializer/src/pose_initializer_core.cpp
Labels: ros2

#451 add tl overwriter relay in awapi
  awapi/awapi_awiv_adapter/Readme.md
  awapi/awapi_awiv_adapter/launch/awapi_awiv_adapter.launch.xml
Labels: ros2

#457 fix bug of obstacle avoidance planner
  planning/scenario_planning/lane_driving/motion_planning/obstacle_avoidance_planner/src/node.cpp
Labels: ros2

#440 Fix typo in perception module
  perception/object_recognition/detection/bev_optical_flow/include/bev_optical_flow/flow_calculator.hpp
  perception/object_recognition/detection/bev_optical_flow/src/flow_calculator.cpp
  perception/object_recognition/detection/object_flow_fusion/include/object_flow_fusion/object_flow_fusion.hpp
  perception/object_recognition/detection/object_flow_fusion/src/object_flow_fusion.cpp
  perception/object_recognition/detection/object_merger/include/object_association_merger/data_association.hpp
  perception/object_recognition/detection/object_merger/src/object_association_merger/data_association/data_association.cpp
  perception/object_recognition/detection/object_merger/src/object_association_merger/data_association/successive_shortest_path/successive_shortest_path.cpp
  perception/object_recognition/detection/object_range_splitter/src/node.cpp
  perception/object_recognition/detection/roi_cluster_fusion/include/roi_cluster_fusion/roi_cluster_fusion_nodelet.hpp
  perception/object_recognition/detection/roi_cluster_fusion/src/roi_cluster_fusion_nodelet.cpp
  perception/object_recognition/detection/shape_estimation/launch/shape_estimation.launch.xml
  perception/object_recognition/prediction/map_based_prediction/package.xml
  perception/object_recognition/prediction/map_based_prediction/src/map_based_prediction.cpp
  perception/object_recognition/tracking/multi_object_tracker/src/data_association/successive_shortest_path/successive_shortest_path.cpp
  perception/object_recognition/tracking/multi_object_tracker/src/tracker/model/bicycle_tracker.cpp
  perception/object_recognition/tracking/multi_object_tracker/src/utils/utils.cpp
  perception/util/visualizer/dynamic_object_visualization/launch/dynamic_object_visualizer.launch.xml
Labels: ros2

#450 add config files of plotjuggler
  control/mpc_follower/config/plot_juggler_mpc_follower.xml
  control/velocity_controller/config/plot_juggler_velocity_controller.xml
Labels: ros2

#454 add use_sim-time option
  awapi/awapi_awiv_adapter/launch/awapi_awiv_adapter.launch.xml
  common/util/goal_distance_calculator/launch/goal_distance_calculator.launch.xml
  common/util/web_controller/autoware_web_controller/launch/autoware_web_controller.launch.xml
  control/autoware_joy_controller/launch/autoware_joy_controller.launch.xml
  control/mpc_follower/launch/mpc_follower.launch.xml
  control/pure_pursuit/launch/pure_pursuit.launch.xml
  control/shift_decider/launch/shift_decider.launch.xml
  control/trajectory_follower/lane_departure_checker/launch/lane_departure_checker.launch.xml
  control/vehicle_cmd_gate/launch/vehicle_cmd_gate.launch.xml
  control/velocity_controller/launch/velocity_controller.launch.xml
  localization/localization_diagnostics/localization_error_monitor/launch/localization_error_monitor.launch.xml
  map/map_loader/launch/lanelet2_map_loader.launch.xml
  perception/object_recognition/detection/bev_optical_flow/launch/bev_optical_flow.launch.xml
  perception/object_recognition/detection/euclidean_cluster/launch/euclidean_cluster.launch.xml
  perception/object_recognition/detection/lidar_apollo_instance_segmentation/launch/lidar_apollo_instance_segmentation.launch.xml
  perception/object_recognition/detection/object_flow_fusion/launch/object_flow_fusion.launch.xml
  perception/object_recognition/detection/object_merger/launch/object_association_merger.launch.xml
  perception/object_recognition/detection/object_range_splitter/launch/object_range_splitter.launch.xml
  perception/object_recognition/detection/roi_cluster_fusion/launch/roi_cluster_fusion.launch.xml
  perception/object_recognition/detection/shape_estimation/launch/shape_estimation.launch.xml
  perception/object_recognition/detection/tensorrt_yolo/launch/tensorrt_yolo.launch.xml
  perception/object_recognition/prediction/map_based_prediction/launch/map_based_prediction.launch.xml
  perception/object_recognition/prediction/naive_path_prediction/launch/naive_path_prediction.launch.xml
  perception/object_recognition/tracking/multi_object_tracker/launch/multi_object_tracker.launch.xml
  perception/traffic_light_recognition/traffic_light_classifier/launch/traffic_light_classifier.launch.xml
  perception/traffic_light_recognition/traffic_light_map_based_detector/launch/traffic_light_map_based_detector.launch.xml
  perception/traffic_light_recognition/traffic_light_ssd_fine_detector/launch/traffic_light_ssd_fine_detector.launch.xml
  perception/util/visualizer/dynamic_object_visualization/launch/dynamic_object_visualizer.launch.xml
  perception/util/visualizer/traffic_light_visualization/launch/traffic_light_roi_visualizer.launch.xml
  planning/mission_planning/mission_planner/launch/goal_pose_visualizer.launch.xml
  planning/mission_planning/mission_planner/launch/mission_planner.launch.xml
  planning/scenario_planning/common/motion_velocity_optimizer/launch/motion_velocity_optimizer.launch.xml
  planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/launch/behavior_velocity_planner.launch.xml
  planning/scenario_planning/lane_driving/motion_planning/obstacle_avoidance_planner/launch/obstacle_avoidance_planner.launch.xml
  planning/scenario_planning/lane_driving/motion_planning/obstacle_stop_planner/launch/obstacle_stop_planner.launch.xml
  planning/scenario_planning/lane_driving/motion_planning/surround_obstacle_checker/launch/surround_obstacle_checker.launch.xml
  planning/scenario_planning/parking/costmap_generator/launch/costmap_generator.launch.xml
  planning/scenario_planning/parking/freespace_planner/launch/freespace_planner.launch.xml
  planning/scenario_planning/scenario_selector/launch/dummy_scenario_selector_lane_driving.launch.xml
  planning/scenario_planning/scenario_selector/launch/dummy_scenario_selector_parking.launch.xml
  planning/scenario_planning/scenario_selector/launch/scenario_selector.launch.xml
  sensing/preprocessor/gnss/gnss_poser/launch/ubloxfix2mgrs.launch.xml
  sensing/preprocessor/pointcloud/livox/livox_tag_filter/launch/livox_tag_filter.launch.xml
  sensing/preprocessor/pointcloud/pointcloud_preprocessor/launch/random_downsample_filter.launch.xml
  simulator/simple_planning_simulator/launch/simple_planning_simulator.launch.xml
  simulator/util/dummy_perception_publisher/launch/dummy_perception_publisher.launch.xml
  system/autoware_error_monitor/launch/autoware_error_monitor.launch.xml
  system/autoware_error_monitor/launch/autoware_error_monitor_node.launch.xml
  system/autoware_state_monitor/launch/autoware_state_monitor.launch.xml
  system/emergency_handler/launch/emergency_handler.launch.xml
  system/system_monitor/launch/system_monitor.launch.xml
  system/topic_state_monitor/launch/topic_state_monitor.launch.xml
  system/util/dummy_diag_publisher/launch/dummy_diag_publisher_node.launch.xml
  system/velodyne_monitor/launch/velodyne_monitor.launch.xml
  tmp/trajectory_loader/launch/sample.launch.xml
  vehicle/as/launch/pacmod_additional_debug_publisher.launch.xml
Labels: ros2

#424 [simple_planning_simulator] add readme
  simulator/simple_planning_simulator/README.md
Labels: ros2

#460 set transit_margin_time to intersect. planner
  planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/src/scene_module/intersection/scene_intersection.cpp
Labels: ros2

#447 Ros2 vehicle info param server
  control/mpc_follower/launch/mpc_follower.launch.xml
  control/pure_pursuit/launch/pure_pursuit.launch.xml
  control/trajectory_follower/lane_departure_checker/launch/lane_departure_checker.launch.xml
  control/trajectory_follower/obstacle_collision_checker/launch/obstacle_collision_checker.launch.xml
  control/vehicle_cmd_gate/launch/vehicle_cmd_gate.launch.xml
  control/velocity_controller/launch/velocity_controller.launch.xml
  planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/launch/behavior_velocity_planner.launch.xml
  planning/scenario_planning/lane_driving/motion_planning/obstacle_avoidance_planner/launch/obstacle_avoidance_planner.launch.xml
  planning/scenario_planning/lane_driving/motion_planning/obstacle_stop_planner/launch/obstacle_stop_planner.launch.xml
  planning/scenario_planning/lane_driving/motion_planning/surround_obstacle_checker/launch/surround_obstacle_checker.launch.xml
  simulator/simple_planning_simulator/launch/simple_planning_simulator.launch.py
  simulator/simple_planning_simulator/launch/simple_planning_simulator.launch.xml
  vehicle/as/launch/pacmod_interface.launch.xml
  vehicle/util/vehicle_info_util/include/vehicle_info_util/vehicle_info.hpp
  vehicle/util/vehicle_info_util/src/vehicle_info.cpp
  vehicle/vehicle_description/util/vehicle_info_param_server/CMakeLists.txt
  vehicle/vehicle_description/util/vehicle_info_param_server/include/vehicle_info_param_server/vehicle_info_param_server_core.hpp
  vehicle/vehicle_description/util/vehicle_info_param_server/launch/vehicle_info_param_server.launch.xml
  vehicle/vehicle_description/util/vehicle_info_param_server/package.xml
  vehicle/vehicle_description/util/vehicle_info_param_server/src/vehicle_info_param_server_core.cpp
  vehicle/vehicle_description/util/vehicle_info_param_server/src/vehicle_info_param_server_node.cpp
Labels: ros2
